<div class="new-question">

  <%= render 'shared/question_header', survey: @survey %>

    <dl>
      <dt><h2><strong>Add a Question:</strong></h2></dt>
      <dd><p><small>Choose which type of question to add.</small></p></dd>
    </dl>

    <!-- redirect to different view depend's on user's choice -->
    <%= form_for @question, url: new_survey_question_type_path(@survey), method: "get" do |f| %>
      <div class="form-group">
        <%= f.select :question_type, Question.question_types, {}, class: "form-control input-lg"  %>
      </div>
      <div class="form-group">
        <%= f.submit "Add a New Question", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>



</div>
