
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p {
  font-size: 18px;
  color: grey;
}

.exis_questions ol {
  font-size: 18px;
}

.new-response ol {
  font-size: 18px;
}

.question-block {
  margin-top: 30px;
  input[type="checkbox"] + label {
    display: inline-block;
    margin-left: 2%;
    width: 96%;
    font-size: 18px;
    font-weight: normal;
  }
  input[type="checkbox"] {
    display: inline-block;
    width: 2%;
    transform:scale(1.3, 1.3);
  }
}
