hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p {
  font-size: 18px;
  color: grey;
}

.exis_questions ol {
  font-size: 18px;
}
